---
import Layout from "../layouts/LayoutIndex.astro";
import BarMedia from "../components/SocialMedia.astro";
import Header from "../components/Header.astro";
import Name from "../components/Name.astro";
import Card from "../components/CardProy.astro";

const projects = await Astro.glob("../content/projects/*.md");
---

<Layout tittle="Portfolio | Daniel Cairo">
  <Header />
  <Name />
  <hr class="line-divider" />
  <section class="about_section">
    <div class="tittle">
      <hr />
      <h2>Sobre mi</h2>
      <hr />
    </div>
  </section>
  <hr class="line-divider" />
  <section class="projects_section">
    <div class="tittle">
      <hr />
      <h2>Mis Proyectos</h2>
      <hr />
    </div>
    <div class="projects">
      {
        projects.map((project) => (
          <Card
            title={project.frontmatter.title}
            description={project.frontmatter.description}
            image={project.frontmatter.image}
            link={project.frontmatter.link}
          />
        ))
      }
    </div>
  </section>
  <hr class="line-divider" />
  <section class="habilities_section">
    <div class="tittle">
      <hr />
      <h2>Mis Habilidades</h2>
      <hr />
    </div>
  </section>
  <hr class="line-divider" />
  <section class="certification_section">
    <div class="tittle">
      <hr />
      <h2>Mis Certificaciones</h2>
      <hr />
    </div>
  </section>
  <BarMedia />
</Layout>

<style lang="scss">
  @use "../styles/breakpoints.scss" as *;
  .line-divider {
    margin: 2.5rem 0;
    opacity: 0.1;
    border: 1px solid var(--jaguar-300);
  }
  section {
    .tittle {
      font-family: "Poppins", sans-serif;
      text-transform: uppercase;
      color: var(--jaguar-100);
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        padding: 10px 0;
        letter-spacing: 0.5rem;
        font-weight: bold;
        text-align: center;
        font-size: clamp(1rem, 1.5vw, 5rem);
      }
      hr {
        width: 5rem;
        border-radius: 5rem;
      }
    }
  }
  .projects_section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    gap: 20px;
    width: 100%;
    max-width: 1900px; /* centrado con ancho máximo */
    justify-items: center;
  }
  @include respond-up(lg) {
    .projects_section {
      padding: 0 4rem;
    }
    .projects {
      grid-template-columns: repeat(auto-fit, minmax(380px, 3fr));
      
    }
  }
</style>
