<header class="header_container">
  <div class="header_perfil_container">
    <img
      src="https://avatars.githubusercontent.com/u/115848645?v=4"
      class="header_logo_img"
    />
    <span>Daniel Cairo</span>
  </div>
  <div class="header_links_container">
    <button id="menu-abrir"><i class="fa-solid fa-bars"></i></button>
    <ul id="nav-links">
      <button id="menu-cerrar"><i class="fa-solid fa-x"></i></button>
      <li style="--l: 'Home'" class="header_link">Home</li>
      <li style="--l: 'About'" class="header_link">About</li>
      <li style="--l: 'Projects'" class="header_link">Projects</li>
      <li style="--l: 'Contact'" class="header_link">Contact</li>
    </ul>
    <ul class="menu-links">
      <li style="--l: 'Home'" class="header_link">Home</li>
      <li style="--l: 'About'" class="header_link">About</li>
      <li style="--l: 'Projects'" class="header_link">Projects</li>
      <li style="--l: 'Contact'" class="header_link">Contact</li>
    </ul>
  </div>
</header>

<script>
  const menu = document.querySelector("#nav-links");
  const openBtn = document.querySelector("#menu-abrir"); // botón para abrir
  const closeBtn = document.querySelector("#menu-cerrar"); // botón para cerrar

  openBtn?.addEventListener("click", () => {
    menu?.classList.remove("hide");
    menu?.classList.add("show");
  });

  closeBtn?.addEventListener("click", () => {
    menu?.classList.remove("show");
    menu?.classList.add("hide");
  });
</script>

<style lang="scss">
  @use "../styles/breakpoints" as *;

  .header_container {
    top: 0;
    position: sticky;
    font-family: "Source Sans 3", sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    align-items: center;
    background-color: rgba(var(--jaguar-400-rgb), 0.045);
    box-shadow: 0 10px 50px 10px rgba(var(--jaguar-400-rgb), 0.05);
    backdrop-filter: blur(6px);
    z-index: 999;
    .header_perfil_container {
      width: 150px;
      display: flex;
      align-items: center;
      gap: 1rem;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 1rem;
      font-weight: 600;
      color: var(--jaguar-100);
      text-shadow: 0 0 5px #ffffff94;
      img {
        width: 3.5rem;
        border-radius: 100%;
        box-shadow: 0 0 20px 0.5px rgba(var(--jaguar-50-rgb), 0.2);
      }
    }
    .header_links_container {
      button {
        padding: 10px 12px;
        border: 1px solid var(--jaguar-200);
        box-shadow: 0 0 10px rgba(var(--jaguar-50-rgb), 0.2);
        border-radius: 5px;
        cursor: pointer;
        background-color: rgba(var(--jaguar-50-rgb), 0);
        color: var(--jaguar-100);
        i {
          font-size: 2rem;
          text-shadow: 0 0 5px rgba(var(--jaguar-100-rgb), 0.4);
        }
      }
      .menu-links {
        display: none;
      }
      #nav-links.show {
        animation: showUl 0.5s ease forwards;
      }
      #nav-links.hide {
        animation: hideUl 0.3s ease forwards;
      }
      #nav-links {
        color: var(--jaguar-200);
        text-transform: uppercase;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        gap: 2.5rem;
        padding: 30px 0 30px;
        position: absolute;
        width: 100%;
        background-color: rgba(var(--jaguar-900-rgb), .98);
        box-shadow: 0 0px 0px 100vh #000000bf;
        backdrop-filter: blur(8px);
        top: 0;
        left: 0;
        z-index: 1 !important;
        transform: translateY(-100%);
        opacity: 0;
        button {
          position: absolute;
          top: 10px;
          right: 42px;
        }
        .header_link:hover {
          cursor: pointer;
          color: var(--jaguar-100);
        }
        .header_link:hover::before {
          content: var(--l);
          position: absolute;
          transform: scale(1.2);
          filter: blur(15px);
        }
      }
    }
  }

  @keyframes showUl {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes hideUl {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translateY(-100%);
    }
  }

  //   .header_container {
  //     display: flex;
  //     justify-content: space-between;
  //     align-items: center;
  //     padding: 10px 80px;
  //     background-color: rgba(var(--jaguar-400-rgb), 0.05);
  //     box-shadow: 0 10px 50px 10px rgba(var(--jaguar-400-rgb), 0.05);
  //     backdrop-filter: blur(1px);
  //     .header_perfil_container {
  //       display: flex;
  //       align-items: center;
  //       gap: 2rem;
  //       font-family: "Source Sans 3", sans-serif;
  //       text-transform: uppercase;
  //       letter-spacing: 5px;
  //       font-size: 1rem;
  //       font-weight: 600;
  //       color: var(--jaguar-100);
  //       img {
  //         width: 3rem;
  //         border-radius: 100%;
  //       }
  //     }
  //     .header_links_container {
  //       ul {
  //         font-family: "Source Sans 3", sans-serif;
  //         font-size: 1rem;
  //         font-weight: 700;
  //         letter-spacing: 3px;
  //         color: var(--jaguar-300);
  //         display: flex;
  //         text-transform: uppercase;
  //         gap: 4rem;
  //         list-style: none;
  //         .header_link:hover {
  //           cursor: pointer;
  //           color: var(--jaguar-100);
  //         }
  //         .header_link:hover::before {
  //           content: var(--l);
  //           position: absolute;
  //           transform: scale(1.1);
  //           filter: blur(15px);
  //         }
  //       }
  //     }
  //   }

  // tablets
  @include respond-up(md) {
  }
  // laptops
  @include respond-up(lg) {
    .header_container{
        padding: 20px 80px;
        .header_perfil_container {
            width: fit-content;
            font-size: 1.2rem;
            img{
                width: 3rem;
            }
        }
    }
    .header_links_container {
      button,
      #nav-links {
        display: none !important;
      }
      .menu-links {
        display: flex !important;
        color: var(--jaguar-300);
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 700;
        display: flex;
        list-style: none;
        letter-spacing: 2px;
        gap: 4rem;
        .header_link {
          &:hover {
            cursor: pointer;
            color: var(--jaguar-100);
          }
          &:hover::before {
            content: var(--l);
            position: absolute;
            transform: scale(1.1);
            filter: blur(15px);
          }
        }
      }
    }
  }
  //monitores
  @include respond-up(xl) {
  }
</style>
