---

---

<div class="container">
  <span style="--l: 'D';">D</span>
  <span style="--l: 'A';">A</span>
  <span style="--l: 'N';">N</span>
  <span style="--l: 'I';">I</span>
  <span style="--l: 'E';">E</span>
  <span style="--l: 'L';">L</span>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

  .container{
    -webkit-box-reflect: below -4rem linear-gradient(transparent,transparent,rgba(0,0,0,0.4));
  }
  .container span {
    font-size: 130pt;
    font-weight: bold;
    position: relative;
    font-family: "Fredoka One";
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
  .container span::before {
    content: var(--l);
    position: absolute;
    transform: scale(1.1);
    filter: blur(15px);
  }
  
  .container span:hover {
    filter: contrast(200%);
  }
  .container span:nth-child(1) {
    color: #00bef8;
  }
  .container span:nth-child(2) {
    color: #ff0697;
  }
  .container span:nth-child(3) {
    color: #ff4d00;
  }
  .container span:nth-child(4) {
    color: #ffe600;
  }
  .container span:nth-child(5) {
    color: #bb00ff;
  }
  .container span:nth-child(6) {
    color: #09ff00;
  }
</style>
