<section class="home__section">
  <div class="home__conteiner">
    <div class="home__sub-title">Hi I'am</div>
    <div class="home__Name">
      <div class="container">
        <span style="--l: 'D';">D</span>
        <span style="--l: 'A';">A</span>
        <span style="--l: 'N';">N</span>
        <span style="--l: 'I';">I</span>
        <span style="--l: 'E';">E</span>
        <span style="--l: 'L';">L</span>
      </div>
    </div>
    <div class="home__section-text">
      Soy un estudiante de Ingenieria de Sistemas <br />con ganas de aprender y
      centrado en el desarrollo web
    </div>
  </div>
</section>

<style lang="scss">
  @use "../styles/breakpoints" as *;

  @import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
  .home__section {
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home__conteiner {
    margin-top: -7rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .home__sub-title {
    font-size: 1.8rem;
    margin-bottom: -1rem;
  }
  .home__section-text {
    margin: 1rem 1rem;
    font-size: 1rem;
    padding: 10px;
  }
  .home__sub-title,
  .home__section-text {
    font-family: "Source Sans 3", sans-serif;
    font-weight: bold;
    color: var(--jaguar-200);
  }
  .container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    font-size: clamp(2rem, 5vw, 6rem); /* tamaño fluido */
    font-weight: bold;
    color: #00f0ff;
    text-transform: uppercase;

    /* Reflejo responsive */
    -webkit-box-reflect: below clamp(-3rem, -9vh, -1rem)
      linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.2));
  }
  .container span {
    font-size: clamp(4rem, 1rem + 9vw, 14rem);
    font-weight: bold;
    position: relative;
    font-family: "Fredoka One";
    transition: all 0.1s ease-in-out;
  }
  .container span::before {
    content: var(--l);
    position: absolute;
    transform: scale(1.1);
    filter: blur(15px);
  }
  .container span:hover {
    filter: contrast(300%);
  }
  .container span:nth-child(1) {
    color: #00bef8;
  }
  .container span:nth-child(2) {
    color: #ff0697;
  }
  .container span:nth-child(3) {
    color: #ff4d00;
  }
  .container span:nth-child(4) {
    color: #ffe600;
  }
  .container span:nth-child(5) {
    color: #bb00ff;
  }
  .container span:nth-child(6) {
    color: #09ff00;
  }

  @include respond-up(sm) {
    .home__section {
      padding: 11rem 0;
    }

    .home__sub-title {
      font-size: 2.5rem;
      margin-bottom: -1.8rem;
    }
    .home__section-text {
      font-size: 1.2rem;
      margin-top: 1rem;
    }
  }

  @include respond-up(md) {
    .home__section {
      padding: 11rem 0;
    }

    .home__sub-title {
      font-size: 2rem;
    }
    .home__section-text {
      font-size: 1.5rem;
      margin-top: 1rem;
    }
  }

  @include respond-up(xxl) {
    .container{
      -webkit-box-reflect: below -5rem
      linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.2));
    }
    .home__section {
      padding: 18rem 0;
    }
    .home__sub-title {
      font-size: 3rem;
    }
    .home__section-text {
      font-size: 2rem;
      margin-top: 4rem;
    }
  }
</style>
