---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+3:wght@700;900&display=swap");

  :root {
    --jaguar-50: #f8f0ff;
    --jaguar-100: #efe0fe;
    --jaguar-200: #d8bafd;
    --jaguar-300: #b37dfc;
    --jaguar-400: #8638f8;
    --jaguar-500: #680ee9;
    --jaguar-600: #5902c7;
    --jaguar-700: #4b03a1;
    --jaguar-800: #400785;
    --jaguar-900: #3a0c6e;
    --jaguar-950: #13151a;
  }
  html {
    color: white;
    font-family: "Poppins", sans-serif;
    background: var(--jaguar-950);
  }
  body{
	margin: 0;
	padding: 0;
  }

  body::-webkit-scrollbar{
    display: none;
  }
</style>
